@import "styles/breakpoints";

.button {
  padding: 10px 31px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  font-family: var(--anton);
  color: var(--primary-black);
  background: var(--primary-pinkish);
  cursor: pointer;
 
  @include breakpoint(big-tablet) {
    font-size: 20px;
  }

  @include breakpoint(big-mobile) {
    font-size: 16px;
    width: 100%;
  }
}

.buttonGhost {
  @extend .button;

  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.buttonBlue {
  background: var(--primary-blue);
}

.buttonPurple {
  background: var(--primary-purple);
}

.buttonPink {
  background: var(--primary-pink);
}

.buttonEmerald {
  background: var(--primary-emerald);
}

.buttonYellow {
  background: var(--primary-yellow);
}

.buttonRed {
  background: var(--primary-red);
}

.buttonOrange {
  background: var(--primary-orange);
}

.buttonGhost {
  @extend .button;
  background: transparent;

  &.buttonBlue {
    color: var(--primary-blue);
    border: 1px solid var(--primary-blue);
  }

  &.buttonPurple {
    color: var(--primary-purple);
    border: 1px solid var(--primary-purple);
  }

  &.buttonPink {
    color: var(--primary-pink);
    border: 1px solid var(--primary-pink);
  }

  &.buttonEmerald {
    color: var(--primary-emerald);
    border: 1px solid var(--primary-emerald);
  }

  &.buttonYellow {
    color: var(--primary-yellow);
    border: 1px solid var(--primary-yellow);
  }

  &.buttonRed {
    color: var(--primary-red);
    border: 1px solid var(--primary-red);
  }

  &.buttonOrange {
    color: var(--primary-orange);
    border: 1px solid var(--primary-orange);
  }
}