@import "styles/breakpoints";

.pageTitleContainer {
  padding: 150px 16px 100px;
  background-color: var(--primary-orange);
  text-align: center;

  @include breakpoint(landscape) {
    padding: 50px 16px;
  }
}

.pageTitleWrapper {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
}

.pageTitle {
  font-size: 250px;
  margin: 0;
  line-height: 1;
  text-align: left;
  font-family: var(--anton);
  color: #0A0A12;
  text-transform: uppercase;

  @include breakpoint(medium-screen) {
    font-size: 190px;
  }

  @include breakpoint(small-screen) {
    font-size: 160px;
  }

  @include breakpoint(tablet) {
    font-size: 130px;
  }

  @include breakpoint(landscape) {
    font-size: 90px;
  }

  @include breakpoint(big-mobile) {
    font-size: 60px;
  }
}

.subtitle {
  margin: 0;
  font-size: 36px;
  color: black;
  text-transform: capitalize;

  @include breakpoint(landscape) {
    font-size: 30px;
  }

  @include breakpoint(big-mobile) {
    font-size: 24px;
  }
}

.title {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  color: var(--backgroung-color);
  text-transform: uppercase;

  @include breakpoint(big-mobile) {
    font-size: 30px;
  }
}

.text {
  font-family: var(--robot-mono);
  font-size: 32px;
  transform: rotate(-2.84deg);
  margin: 0;
  color: var(--primary-red);
  text-transform: uppercase;
  margin-left: 70px;

  @include breakpoint(big-mobile) {
    font-size: 20px;
  }
}

.form {
  display: flex;
  gap: 36px;
  align-items: flex-start;
  justify-content: end;
  margin: 32px 0 160px;

  @include breakpoint (tablet) {
    flex-grow: 1;
    width: 100%;

    input {
      width: 100%;
    }
  }

  @include breakpoint(landscape) {
    flex-direction: column;
  }
}

.inputWrapper {
  @include breakpoint (tablet) {
    flex-grow: 1;
  }

  @include breakpoint(landscape) {
    width: 100%;
  }
}

.input {
  border-color: var(--primary-orange);
  font-size: 24px;
  padding: 9px 24px;
  &::placeholder {
    color: var(--primary-orange);
  }
}

.disclaimer {
  font-size: 14px;
  margin: 16px 0 0;
  color: var(--primary-orange);
}

.button {
  padding: 16px 27px;

  @include breakpoint(landscape) {
    width: 100%;
  }
}