.wrapper {
  margin-top: -50px;
  padding: 100px 0;
}

.title {
  font-size: 40px;
  font-weight: 700;
  padding: 40px 0;
  text-transform: uppercase;
  text-align: center;

  background: url("/images/hackathon/sponsors-title-vector.svg") no-repeat center bottom;
}

.sponsorList {
  //display: grid;
  //grid-template-columns: repeat(5, 1fr);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.sponsor {
  padding: 46px 33px;
  text-align: center;

  img {
    height: 70px;
  }
}

.cta {
  margin-top: 100px;
  text-align: center;
}

.button {
  background-color: var(--primary-emerald);
  border-color: var(--primary-emerald);
}