.wrapper {
  padding:0 0 100px;
}

.title {
  font-family: var(--anton);
  font-size: 40px;
  padding: 40px 0;
  text-transform: uppercase;
}

.sponsorList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  align-items: center;
  justify-content: center;
  gap: 50px 70px;
}

.sponsor {
  text-align: center;

  img {
    max-height: 70px;
    max-width: 200px;
  }
}

.cta {
  margin-top: 100px;
  text-align: center;
}

.button {
  background-color: var(--primary-emerald);
  border-color: var(--primary-emerald);
}