@import "styles/breakpoints";

.mjWrapper {
  margin-top: -50px;
  padding: 100px 0;
  background: url("/images/hackathon/mentors-judges-vector.svg") no-repeat center top;
}

.mentors {
  margin-bottom: 200px;
}

.mentorsTitle {
  font-size: 40px;
  font-weight: 700;
  padding: 40px 0;
  text-transform: uppercase;
  text-align: center;

  background: url("/images/hackathon/mentors-title-vector.svg") no-repeat center;
  background-size: contain;
}


.judgesTitle {
  font-size: 40px;
  font-weight: 700;
  padding: 40px 0;
  text-transform: uppercase;
  text-align: center;

  background: url("/images/hackathon/judges-title-vector.svg") no-repeat center;
  background-size: contain;
}

.tba {
 text-align: center;
  font-size: 40px;
}


.people {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-columns: minmax(0, 1fr);
  gap: 50px 30px;
  margin-bottom: 72px;
  img {
    height: 173px;
    width: 173px;
  }

  @include breakpoint(medium-screen) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include breakpoint(landscape) {
    grid-template-columns: repeat(2, 1fr);

    img {
      height: 140px;
      width: 140px;
    }
  }

  @include breakpoint(big-mobile) {

  }
}

.person {
  text-align: center;
}

.name {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}