@import "styles/breakpoints";

.contentWrapper {
  background-image: url("/images/hackathon/about-hack-vector.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;

  @include breakpoint(tablet) {
    background-size: cover;
  }
}

.header {
  text-align: center;
  margin: 100px 0;
}

.title {
  font-weight: 700;
  font-size: 64px;
  text-transform: uppercase;
  margin: 0;

  @include breakpoint(tablet) {
    font-size: 50px;
  }

  @include breakpoint(big-mobile) {
    font-size: 40px;
  }
}

.rotate {
  @extend .title;

  color: var(--primary-pink);
  font-family: var(--roboto-mono);
  font-weight: 400;
  transform: rotate(-3deg);
  margin-left: 70px;

  @include breakpoint(medium-mobile) {
    margin-left: 40px;
  }
}

.eventsContainer {
  display: flex;
  justify-content: center;
}

.button {
  margin: 45px 0 200px;
  background: var(--primary-emerald);
  border-color: var(--primary-emerald);
}