@import "styles/breakpoints";


.header {
  text-align: center;
  margin: 100px 0 50px;
}

.title {
  font-family: var(--anton);
  font-size: 40px;
  text-transform: uppercase;
  margin: 0;
}


.eventsContainer {
  display: flex;
  justify-content: center;
}

.button {
  margin: 100px 0 200px;
  background: var(--primary-emerald);
  border-color: var(--primary-emerald);
}