@import "styles/breakpoints";

.footer {
  padding: 90px 0;
  border-top: 1px solid var(--primary-blue);
}

.footerContent {
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-template-areas: "first first second third";
  gap: 100px;

  @include breakpoint(medium-screen) {
    grid-template-areas: "first second third";
  }

  @include breakpoint(big-tablet) {
    grid-template-areas: "first" "second" "third";
  }
}

.title {
  font-size: 45px;
  margin-top: 0;
  grid-area: first;
  text-transform: uppercase;
  color: var(--primary-blue);
  font-family: var(--anton);
}

.sectionTitle {
  font-family: var(--space-grotesk);
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--primary-gray);
  margin: 0 0 40px;
}

.bgbwLogo {
  max-width: 353px;
  width: 100%;
}

.socialIcons {
  display: flex;
  gap: 24px;
  margin-top: 20px;
}

.bgbwSection {
  grid-area: second;
}

.socialSection {
  grid-area: third;
}