@import "styles/breakpoints";


.deadlineContainer {
  text-align: center;
}

.deadline {
  margin: 0;
  display: inline-block;
  padding: 26px 0;
  border-bottom: 2px solid var(--primary-purple);
}

.sectionTitle {
  font-family: var(--anton);
  font-size: 40px;
  text-transform: uppercase;
  margin: 0;
}

.sectionText {
  margin-bottom: 46px;
}