@import "styles/breakpoints";

.stats {
  font-family: var(--anton);
  font-size: 24px;
  text-transform: uppercase;
  display: flex;
  gap: 50px;
  margin-right: 50px;
  margin-bottom: 90px;
}

.purple {
  color: var(--primary-purple);
}

.blue {
  color: var(--primary-blue);
}

.pink {
  color: var(--primary-pink)
}

.emerald {
  color: var(--primary-emerald);
}

.green {
  color: var(--primary-yellow);
}

.orange {
  color: var(--primary-orange);
}

.about {
  max-width: 1155px;
  padding: 0px 16px 90px;
  margin: 0 auto;
}

.subtitle {
  font-family: var(--space-grotesk);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;

  @include breakpoint(landscape) {
    font-size: 16px;
  }
}

.title {
  font-size: 45px;
  line-height: 54.44px;
  font-family: var(--anton);
  margin: 0;
  text-transform: uppercase;

  @include breakpoint(big-tablet) {
    font-size: 40px;
  }

  @include breakpoint(tablet) {
    font-size: 34px;
    line-height: 42px;
  }

  @include breakpoint(landscape) {
    font-size: 30px;
  }

  @include breakpoint(big-mobile) {
    font-size: 18px;
    line-height: 28px;
  }

  @include breakpoint(medium-mobile) {
    font-size: 16px;
  }
}

.highlight {
  color: var(--primary-red);
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  padding: 90px 0 0;

  @include breakpoint(tablet) {
    grid-template-columns: 1fr;
  }
  
  //@include breakpoint(big-mobile) {
  //  padding: 100px 0  150px;
  //}
}

.section {
  border: 1px solid var(--primary-red);
  padding: 49px;

  &:nth-last-child(2) {
    border-right-width: 0px;
  }

  @include breakpoint(tablet) {
    &:nth-last-child(2) {
      border-right-width: 1px;
    }
  }
}

.sectionTitle {
  font-family: var(--anton);
  color: var(--primary-red);
  font-size: 24px;
  text-transform: uppercase;
}

.sectionText {
  font-family: var(--space-grotesk);
  font-size: 14px;
  line-height: 20px;
}

.buttonWrapper {
  display: flex;
  justify-content: end;
}

.button {
  background: var(--primary-red);
  display: flex;
  align-items: center;
  gap: 20px;
}

.bold {
  font-weight: bold;
}