@import "styles/breakpoints";

.wrapper {
  padding: 0 0 170px;
}

.title {
  font-family: var(--anton);
  font-size: 40px;
  padding: 40px 0;
  text-transform: uppercase;
  text-align: center;
}

.sponsorList {
  //display: grid;
  //grid-template-columns: repeat(5, 1fr);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;

  @include breakpoint(landscape) {
    gap: 0px;
  }
}

.sponsor {
  padding: 46px 33px;
  text-align: center;

  @include breakpoint(landscape) {
    width: 100%;
  }

  img {
    height: auto;
    max-height: 70px;
    width: 100%;
    max-width: 250px;
  }
}

.cta {
  margin-top: 100px;
  text-align: center;
}

.button {
  background-color: var(--primary-emerald);
  border-color: var(--primary-emerald);
}