@import "styles/breakpoints";

.venue {
  margin-bottom: 130px;
}

.heroImage {
  height: 670px;
  background: url("/images/venue/dvorana.jpeg") no-repeat center center;
  background-size: cover;

  @include breakpoint(big-screen) {
    height: 500px;
  }

  @include breakpoint(medium-screen) {
    height: 400px;
  }

  @include breakpoint(landscape) {
    height: 300px;
  }

  @include breakpoint(big-mobile) {
    height: 200px;
  }
}

.pageTitleContainer {
  padding: 150px 16px 100px;
  background-color: var(--primary-pinkish);
  text-align: center;

  @include breakpoint(landscape) {
    padding: 50px 16px;
  }
}

.pageTitleWrapper {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
}

.pageTitle {
  font-size: 250px;
  margin: 0;
  line-height: 1;
  text-align: left;
  font-family: var(--anton);
  color: #0A0A12;
  text-transform: uppercase;

  @include breakpoint(medium-screen) {
    font-size: 190px;
  }

  @include breakpoint(small-screen) {
    font-size: 160px;
  }

  @include breakpoint(tablet) {
    font-size: 130px;
  }

  @include breakpoint(landscape) {
    font-size: 90px;
  }

  @include breakpoint(big-mobile) {
    font-size: 60px;
  }
}

.subtitle {
  margin: 0;
  font-size: 36px;
  color: black;
  text-transform: capitalize;

  @include breakpoint(landscape) {
    font-size: 30px;
  }

  @include breakpoint(big-mobile) {
    font-size: 24px;
  }
}

.text {
  max-width: 950px;
  padding: 60px 45px;
  border: 1px solid var(--primary-pinkish);
  border-top: none;
}

.pullRight {
  display: grid;
  justify-items: end;
}

.button {
  display: flex;
  align-items: center;
  gap: 20px;
}
