@import "styles/breakpoints";

.prizes {
  padding: 0 0 100px;
}


.totalAmount {
  font-family: var(--anton);
  font-weight: 700;
  font-size: 64px;
  text-transform: uppercase;
  margin: 0;

  @include breakpoint(tablet) {
    font-size: 50px;
  }

  @include breakpoint(big-mobile) {
    font-size: 40px;
  }
}

.prizeTitle {
  font-size: 24px;
  margin: 0;
  color: white;
}

.plus {
  @extend .totalAmount;
  margin: 30px 0 40px;
  line-height: 1;
  color: white;
}

.devconLogo {
  width: 100%;
  max-width: 600px;
  margin-bottom: 15px;
}

.topRow {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include breakpoint(tablet) {
    grid-template-columns: 1fr;
  }
}

.row {
  @extend .topRow;
  grid-template-columns: 1fr 1fr 1fr;

  @include breakpoint(tablet) {
    grid-template-columns: 1fr;
  }
}

.prize {
  text-align: center;
  padding: 68px 40px;
  border: 1px solid var(--primary-purple);

  img {
    max-height: 80px;
  }
}

.prizeAmount {
  font-family: var(--roboto-mono);
  font-size: 20px;
  color: var(--primary-emerald);
  margin: 17px 0 0;
}