@import "styles/breakpoints";

.startups {
  padding: 150px 0 50px;
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainGrid {
  display: grid;
  grid-template-columns: 420px minmax(400px, 610px);
  align-items: center;
  grid-gap: 0 100px;

  @include breakpoint(big-tablet) {
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
  }
}

.header {
  p {
    max-width: 410px;
  }
}

.titleWrapper {
  width: fit-content;
  text-align: right;
  @include breakpoint(big-tablet) {
    text-align: center;
  }
}

.title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin: 0;

  @include breakpoint(big-tablet) {
    font-size: 30px;
  }

  @include breakpoint(big-mobile) {
    font-size: 26px;
  }
}

.bigTitle {
  //font-size: 64px;

  @include breakpoint(big-tablet) {
    font-size: 42px;
  }

  @include breakpoint(big-mobile) {
    font-size: 40px;
  }
}

.subtitle {
  font-size: 32px;
  text-transform: uppercase;
  color: var(--primary-orange);
  transform: rotate(3deg);
  margin-top: -110px;
  margin-right: -80px;
  margin-bottom: 110px;

  text-align: right;

  @include breakpoint(big-tablet) {
    margin-right: -60px;
    margin-top: -150px;
    margin-bottom: 180px;
    font-size: 20px;
  }

  @include breakpoint(big-mobile) {
    margin-right: -5px;
  }
}

.ctaWrapper {
  margin-top: 30px;
  display: flex;
  gap: 60px;
  grid-column: span 2;
  @include breakpoint(big-tablet) {
    grid-column: 1;
  }
  @include breakpoint(big-mobile) {
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.investors {
  margin-top: 100px;
}

.investorsTitle {
  font-size: 32px;
  text-transform: uppercase;
  color: var(--primary-orange);
  transform: rotate(-3deg);
  transform-origin: left;
  margin-left: -20px;
}

.investorsGrid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  > div {
    flex: 0 0 12.5%;
    min-width: 160px;
    height: 100px;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
}
