@import "styles/breakpoints";

.pageTitleContainer {
  padding: 90px 16px;
  background-color: var(--primary-red);

  @include breakpoint(landscape) {
    padding: 50px 16px;
  }
}

.pageTitle {
  font-size: 300px;
  margin: 0;
  text-align: center;
  font-family: var(--anton);
  color: #0A0A12;
  text-transform: uppercase;

  @include breakpoint(medium-screen) {
    font-size: 200px;
  }

  @include breakpoint(medium-screen) {
    font-size: 200px;
  }

  @include breakpoint(tablet) {
    font-size: 150px;
  }

  @include breakpoint(landscape) {
    font-size: 100px;
  }

  @include breakpoint(big-mobile) {
    font-size: 70px;
  }
}

.mainGrid {
  margin-top: 70px;
  display: grid;
  grid-template-columns: minmax(400px, 480px) minmax(400px, 610px);
  grid-gap: 0 100px;

  @include breakpoint(big-tablet) {
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: start;
  }
}

.sectionTitle {
  font-family: var(--anton);
  margin: 90px 0 0;
  font-size: 32px;
  text-transform: uppercase;
  color: var(--primary-red);
}

.subtitle {
  margin: 0;
}

.title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin: 0;

  @include breakpoint(big-tablet) {
    font-size: 30px;
  }

  @include breakpoint(big-mobile) {
    font-size: 26px;
  }
}

.ctaWrapper {
  margin: 70px 0 120px;
  text-align: center;
}

.button {
  width: 100%;
  max-width: 390px;
}

.investors {
  margin-top: 100px;
}

.investorsGrid {
  margin-top: 70px;
  margin-bottom: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 70px;
  align-items: center;
  text-align: center;
  justify-items: center;

  img {
    max-width: 100%;
    max-height: 50px;
    height: 100%;
  }

  @include breakpoint(tablet) {
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
  }

  @include breakpoint(big-mobile) {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}