@import "styles/breakpoints";

.ticketWrapper {
  margin: 100px 0;
  background: url("/images/tikcet-section-vector.svg") no-repeat center center;
  background-size: contain;
  text-align: center;

  @include breakpoint(landscape) {
    margin: 0 0 100px;
  }
}

.ticket {
  @include breakpoint(landscape) {
    display: none;
  }
}

.mobileSection {
  display: none;

  @include breakpoint(landscape) {
    display: initial;
  }
}