@import "styles/breakpoints";

.banner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 42px;
  vertical-align: middle;
  background-color: var(--primary-pinkish);
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  @include breakpoint(big-mobile) {
    display: initial;
  }
}

.textWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-grow: 1;

  @include breakpoint(big-tablet) {
    display: initial;
  }
}

.text {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;

  @include breakpoint(medium-screen) {
    font-size: 20px;
  }

  @include breakpoint(landscape) {
    font-size: 16px;
  }

  @include breakpoint(big-mobile) {
    text-align: center !important;
  }
}

.time {
  @extend .text;

  font-family: var(--space-grotesk);
  text-transform: initial;
  text-align: center;
  font-weight: 400;

  @include breakpoint(big-tablet) {
    text-align: left;
  }
}
