@import "styles/breakpoints";

.banner {
  vertical-align: middle;
  background-color: var(--primary-pinkish);
}

.textWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-grow: 1;

  @include breakpoint(landscape) {
    display: initial;
    padding: 16px;
  }
}

.text {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-black);


  @include breakpoint(landscape) {
    text-align: center !important;
    margin: 0;
  }

  @include breakpoint(landscape) {
    text-align: center !important;
  }
}

.time {
  @extend .text;

  font-family: var(--space-grotesk);
  text-transform: initial;
  text-align: center;
  font-weight: 400;
}
