@import "styles/breakpoints";

.about {
  padding: 100px 0 100px;

  @include breakpoint(landscape) {
    padding-top: 0;
  }
}

.deadlineContainer {
  text-align: center;
}

.deadline {
  margin: 0;
  display: inline-block;
  padding: 26px 0;
  border-bottom: 2px solid var(--primary-purple);
}

.pillarsImage {
  max-width: 900px;
  margin: 0 auto;

  @include breakpoint(landscape) {
    display: none;
  }
}

.content {
  padding: 42px 0 0;
}

.sectionTitle {
  font-family: var(--anton);
  font-size: 40px;
  text-transform: uppercase;
  margin: 0;
}

.aboutContent {
  margin-top: 70px;
}