@import "styles/breakpoints";

.pageTitleContainer {
  padding: 150px 16px 100px;
  background-color: var(--primary-purple);

  @include breakpoint(landscape) {
    padding: 50px 16px;
  }
}

.pageTitle {
  font-size: 185px;
  line-height: 1;
  margin: 0 0 30px;
  text-align: center;
  font-family: var(--anton);
  color: #0A0A12;
  text-transform: uppercase;

  @include breakpoint(medium-screen) {
    font-size: 110px;
  }

  @include breakpoint(tablet) {
    font-size: 80px;
  }

  @include breakpoint(landscape) {
    font-size: 60px;
  }

  @include breakpoint(big-mobile) {
    font-size: 50px;
  }
}

.subtitle {
  margin: 0;
  font-size: 36px;
  text-align: center;
  color: black;
  text-transform: capitalize;

  @include breakpoint(landscape) {
    font-size: 35px;
  }

  @include breakpoint(big-mobile) {
    font-size: 24px;
  }
}

.mediaPartnersListWrapper {
  margin-top: 25px;
  padding: 60px 0;
  background: var(--primary-purple);
}

.mediaPartnersList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px 60px;
  align-items: center;
  text-align: center;

  img {
    height: 40px;
  }

  @include breakpoint(tablet) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include breakpoint(big-mobile) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.cointelegraph {
  height: 50px !important;
}

.buttonWrapper {
  text-align: right;
  margin-top: 32px;
}