.mediaPartners {
  padding: 129px 0;
  background: #0078FF;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  //margin-bottom: 80px;
}

.title {
  font-weight: 700;
  font-size: 40px;
  margin: 0;
  text-transform: uppercase;
}