@import "styles/breakpoints";

.content {
  padding: 160px 0;
  display: flex;
  align-items: center;
  gap: 100px;

  @include breakpoint(big-tablet) {
    flex-direction: column;
    padding: 150px 0;
  }
}

.quote {
  @include breakpoint(big-tablet) {
    max-width: 600px;
  }
}

.quoteText {
  font-size: 20px;
  margin: 0 0 25px;
  position: relative;

  &:before {
    content: url("/images/quote-marks.svg");
    position: absolute;
    top: -35px;
    left: -35px;

    @include breakpoint(big-tablet) {
      left: -25px;
    }
  }
}

.name {
  font-family: var(--anton);
  font-size: 40px;
  text-transform: uppercase;
  margin: 0;
}

.title {
  font-size: 20px;
  margin: 0;
  color: var(--primary-blue);
}