@import "styles/breakpoints";

.about {
  padding: 34px 0;
}

.numbersWrapper {
  text-align: center;
}

.numbers {
  margin-bottom: 70px;

  @include breakpoint(tablet) {
    display: none;
  }
}

.numbersMobile {
  display: none;

  @include breakpoint(tablet) {
    margin-bottom: 70px;
    display: initial;
  }
}

.subtitle {
  font-family: var(--space-grotesk);
  font-size: 24px;
  line-height: 30.62px;
  margin: 0;

  @include breakpoint(landscape) {
    font-size: 16px;
  }
}

.titleWrapper {
  display: flex;
}

.title {
  font-size: 45px;
  line-height: 54.44px;
  font-family: var(--anton);
  margin: 0;
  text-transform: uppercase;

  @include breakpoint(big-tablet) {
    font-size: 40px;
  }

  @include breakpoint(landscape) {
    font-size: 25px;
  }

  @include breakpoint(big-mobile) {
    font-size: 18px;
  }

  @include breakpoint(medium-mobile) {
    font-size: 16px;
  }
}

.highlight {
  color: var(--primary-blue);
}

.indent {
  margin-right: 50px;

  @include breakpoint(landscape) {
    margin-right: 20px;
  }
}

.rotate {
  transform: rotate(-1.25deg);
  display: block;
}

.underline {
  border-bottom: 3px solid #057AFF;;
}

.content {
  margin: 0 auto;

  @include breakpoint(big-mobile) {
    padding: 100px 0  150px;
  }
}

.sectionTitle {
  font-size: 24px;
  text-transform: uppercase;
  margin: 0 0 48px;
  color: var(--primary-blue);
}

.sectionText {
  font-family: var(--space-grotesk);
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 46px;
}

.belgradeCalling {
  border: 1px solid var(--primary-blue);
  display: inline-block;
  padding: 49px 62px 63px 48px;
}

.whyBelgrade {
  border: 1px solid var(--primary-blue);
  display: inline-block;
  padding: 49px 62px 63px 48px;
}

.button {
  margin-top: 18px;
}

.belgradeCalling {
  max-width: 428px;
}

.whyBelgrade {
  max-width: 428px;
}