@import "styles/breakpoints";

.partners {
  margin-top: 200px;
  padding: 80px 0;
  //background: url("/images/partners-vector.svg") no-repeat right bottom;
  background-size: contain;
}

.content {
  //display: grid;
  //grid-template-areas: "first first second";
  //grid-auto-columns: minmax(0, 1fr);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 200px;

  @include breakpoint(medium-screen) {
    flex-direction: column;
    gap: 100px;
  }
}

.sponsors {
  //grid-area: first;
}

.title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin: 0 0 27px;
}

.sponsorsList {
  margin-top: 30px;
  margin-bottom: 37px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 70px;
  align-items: center;
  text-align: center;

  img {
    max-width: 100%;
    max-height: 50px;
  }

  @include breakpoint(tablet) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include breakpoint(big-mobile) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.bloxico {
  max-height: 70px !important;
}

.ctaSection {
  //grid-area: second;
  max-width: 400px;
}

.ctaTitle {
  font-weight: 700;
  font-size: 32px;
}

.tier {
  font-size: 32px;
  color: #057AFF;
  display: inline-block;

  transform: rotate(-3.55deg);
  margin-left: -30px;
}

.tierAlt {
  @extend .tier;

  transform: rotate(7.6deg);
}