@import "styles/breakpoints";

.pageTitleContainer {
  padding: 90px 16px;
  background-color: var(--primary-red);
  text-align: center;

  @include breakpoint(landscape) {
    padding: 50px 16px;
  }
}

.pageTitleWrapper {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
}

.pageTitle {
  font-size: 300px;
  margin: 0;
  text-align: center;
  font-family: var(--anton);
  color: #0A0A12;
  text-transform: uppercase;

  @include breakpoint(medium-screen) {
    font-size: 200px;
  }

  @include breakpoint(tablet) {
    font-size: 150px;
  }

  @include breakpoint(landscape) {
    font-size: 100px;
  }

  @include breakpoint(big-mobile) {
    font-size: 70px;
  }
}

.title {
  font-family: var(--anton);
  font-size: 40px;
  color: var(--primary-red);
  text-transform: uppercase;
  line-height: 1;
  margin: 90px 0 0;
}

.subtitle {
  margin: 0 0 70px;
}

.pageSubtitle {
  margin: 0;
  font-size: 36px;
  color: black;
  text-transform: capitalize;

  @include breakpoint(landscape) {
    font-size: 30px;
  }

  @include breakpoint(big-mobile) {
    font-size: 24px;
  }
}

.tier {
  font-size: 24px;
  color: var(--primary-yellow);
  padding-bottom: 22px;
  margin: 0 0 60px;
  border-bottom: 1px solid var(--primary-yellow);
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-top: 1px solid var(--primary-red);
  border-left: 1px solid var(--primary-red);

  @include breakpoint(medium-screen) {
    grid-template-columns: repeat(4, 1fr);
  }

  @include breakpoint(tablet) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include breakpoint(big-mobile) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.gridCell {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 30px;
  border-right: 1px solid var(--primary-red);
  border-bottom: 1px solid var(--primary-red);

  img {
    max-width: 120px;
    max-height: 32px;
    object-fit: contain;
  }
}

.ctaSection {
  max-width: 860px;
  margin: 150px auto 120px;
}

.ctaTitle {
  font-family: var(--anton);
  text-transform: uppercase;
  font-size: 110px;
  line-height: 1;
  text-align: center;
  margin-bottom: 70px;

  span {
    color: var(--primary-red);
  }

  @include breakpoint(landscape) {
    font-size: 80px;
  }

  @include breakpoint(big-mobile) {
    font-size: 60px;
  }

  @include breakpoint(medium-mobile) {
    font-size: 55px;
  }
}

.buttonWrapper {
  text-align: center;
}

.button {
  width: 100%;
  max-width: 290px;
}