@import "styles/breakpoints";

.pageTitleContainer {
  padding: 90px 16px;
  background-color: var(--primary-yellow);

  @include breakpoint(landscape) {
    padding: 50px 16px;
  }
}

.pageTitle {
  font-size: 300px;
  margin: 0;
  text-align: center;
  font-family: var(--anton);
  color: #0A0A12;
  text-transform: uppercase;

  @include breakpoint(medium-screen) {
    font-size: 200px;
  }

  @include breakpoint(medium-screen) {
    font-size: 200px;
  }

  @include breakpoint(tablet) {
    font-size: 150px;
  }

  @include breakpoint(landscape) {
    font-size: 100px;
  }

  @include breakpoint(big-mobile) {
    font-size: 70px;
  }
}




.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 200px;

  @include breakpoint(medium-screen) {
    flex-direction: column;
    gap: 100px;
  }
}

.title {
  font-family: var(--anton);
  font-size: 40px;
  color: var(--primary-yellow);
  text-transform: uppercase;
  margin: 90px 0 0;
}

.subtitle {
  margin: 0 0 70px;
}

.tier {
  font-size: 24px;
  color: var(--primary-yellow);
  padding-bottom: 22px;
  margin: 0 0 60px;
  border-bottom: 1px solid var(--primary-yellow);
}

.sponsorsList {
  margin-top: 30px;
  margin-bottom: 90px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 70px;
  align-items: center;
  text-align: center;

  img {
    max-width: 100%;
    max-height: 50px;
  }

  @include breakpoint(tablet) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include breakpoint(big-mobile) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.superSponsorsList {
  @extend .sponsorsList;
  grid-template-columns: repeat(3, 1fr);

  @include breakpoint(tablet) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.ctaSection {
  max-width: 860px;
  margin: 150px auto 120px;
}

.ctaTitle {
  font-family: var(--anton);
  text-transform: uppercase;
  font-size: 110px;
  line-height: 1;
  text-align: center;
  margin-bottom: 70px;

  span {
    color: var(--primary-yellow);
  }

  @include breakpoint(landscape) {
    font-size: 80px;
  }

  @include breakpoint(big-mobile) {
    font-size: 60px;
  }

  @include breakpoint(medium-mobile) {
    font-size: 55px;
  }
}

.buttonWrapper {
  text-align: center;
}

.button {
  width: 100%;
  max-width: 290px;
}