@import "styles/breakpoints";

.navigation {
  padding: 70px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 200px;
}

.menuLinks {
  display: flex;
  align-items: center;
  gap: 25px;

  @include breakpoint(medium-screen) {
    display: initial;
  }
}

.menu {
  @include breakpoint(medium-screen) {
    display: none;
  }
}

.mobileMenu {
  display: none;

  @include breakpoint(medium-screen) {
    display: initial;
    position: fixed;
    z-index: 100000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background: var(--backgroung-color);
  }
}

.menuItem {
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  background: none;
  color: white;
  font-family: var(--rubik);

  @include breakpoint(medium-screen) {
    display: block;
    padding: 20px 40px;
  }
}

.dropdownWrapper {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 40px;
  width: 100%;
  padding: 0 6px 0 0;

  @include breakpoint(medium-screen) {
    position: initial;
    padding: 0 0 0 60px;
  }
}

.dropdownLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  margin: 10px 0;

  @include breakpoint(medium-screen) {
    justify-content: flex-start;
    gap: 20px;
  }
}

.button {
  font-size: 18px;
  padding: 20px 25px;

  @include breakpoint(medium-screen) {
    padding: 20px 40px;
    background: none;
    border: none;
    color: var(--primary-green);
    text-align: left;
  }
}

.hamburgerIcon {
  display: none;
  cursor: pointer;

  @include breakpoint(medium-screen) {
    display: initial;
  }
}

.closeIconWrapper {
  padding: 70px 40px;
  display: flex;
  justify-content: flex-end;
}

.closeIcon {
  cursor: pointer;
}