html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--rubik-font), -apple-system, BlinkMacSystemFont, Segoe UI,
  Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
  sans-serif;
  background: var(--backgroung-color);
  color: #efe7e4;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  .container {
    max-width: 1700px;
    padding: 0 40px;
    margin: 0 auto;
  }
}