@import "breakpoints";

.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  max-width: 860px;
  padding: 0 20px;
}

.date {
  margin: 0;
  font-size: 3rem;
  font-weight: bold;

  @include breakpoint(big-mobile) {
    font-size: 2rem;
  }

  @include breakpoint(medium-mobile) {
    font-size: 1.5rem;
  }
}

.buttons {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  gap: 2.5rem;

  @include breakpoint(mobile-landscape) {
    gap: 2rem;
  }

  @include breakpoint(big-mobile) {
    flex-direction: column;
  }
}

.button {
  display: inline-block;
  font-size: 1.5rem;
  color: #fff;
  background: #0B0B0B;
  padding: 1rem 2.5rem;

  @include breakpoint(mobile-landscape) {
    font-size: 1rem;
  }

  @include breakpoint(big-mobile) {
    width: 100%;
    text-align: center;
  }
}

.ghostButton {
  display: inline-block;
  font-size: 1.5rem;

  @include breakpoint(mobile-landscape) {
    font-size: 1rem;
  }

  @include breakpoint(big-mobile) {
    width: 100%;
    text-align: center;
  }
}

.socials {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  gap: 24px;

  p {
    color: #929292;
  }
}