.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  max-width: 860px;
  padding: 0 20px;
}

.date {
  margin: 0;
  font-size: 3rem;
  font-weight: bold;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.button {
  display: inline-block;
  margin-top: 5rem;
  font-size: 1.5rem;
  color: #000000;
  background: #fff;
  padding: 1rem 2.5rem;
}

.ghostButton {
  display: inline-block;
  margin-top: 5rem;
  font-size: 1.5rem;
}