:root {
  //--backgroung-color: #0F1821;
  --backgroung-color: #000;
  --primary-green: #DBFE87;
  --primary-emerald: #4CE0B3;
  --primary-red: #EF233C;
  --primary-purple: #9747FF;
  --primary-orange: #FC9E4F;
  --primary-pink: #fe8ec6;
  --primary-blue: #0078FF;
  --primary-gray: #FBF6EE;
  --primary-pinkish: #DD4E9F;
  --primary-black: #0A0A12;
}
