@import "styles/breakpoints";

.agenda {
  padding: 120px 0;
}

.title {
  font-size: 300px;
  margin: 0;
  text-align: center;
  font-family: var(--anton);
  color: var(--primary-yellow);
  text-transform: uppercase;

  @include breakpoint(medium-screen) {
    font-size: 200px;
  }

  @include breakpoint(medium-screen) {
    font-size: 200px;
  }

  @include breakpoint(tablet) {
    font-size: 150px;
  }

  @include breakpoint(landscape) {
    font-size: 100px;
  }

  @include breakpoint(big-mobile) {
    font-size: 70px;
  }
}

.agendaContainer {
  width: 960px;
  margin: 0 auto;
  overflow-x: scroll;
}

.tablist {
  padding: 0;
  margin: 0;
  //position: sticky;
  top: 0;
  z-index: 1;
}

.tabsContainer {
  display: flex;
  align-items: center;
  background-color: var(--backgroung-color);
}

.tab {
  padding: 15px 30px;
  border-left: 1px solid var(--primary-yellow);
  border-top: 1px solid var(--primary-yellow);
  border-bottom: 1px solid var(--primary-yellow);
  flex-grow: 1;

  &:hover {
    cursor: pointer;
  }

  &:nth-last-child(1) {
    border-right: 1px solid var(--primary-yellow);
  }

  &::marker {
    display: none;
    content: none;
  }

  @include breakpoint(big-mobile) {
    padding: 15px 20px;
  }
}

.selectedTab {
  background-color: var(--primary-yellow);
  color: black;
}

.tabTitle {
  font-size: 36px;
  font-family: var(--anton);
  margin: 0;
  text-transform: uppercase;

  @include breakpoint(landscape) {
    font-size: 24px;
  }

  @include breakpoint(big-mobile) {
    font-size: 20px;
  }
}

.tabSubtitle {
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
}

.table {
  display: grid;
  grid-template-columns: 100px repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-auto-flow: row;
}

.timeSlotBorder {
  border: 1px solid var(--primary-yellow);
  text-align: center;
}

.stageName {
  border: 1px solid var(--primary-yellow);
  text-align: center;
  font-family: var(--anton);
  text-transform: uppercase;
  font-size: 24px;
}